/* Youtube */
#player {
	position: absolute;
	left: -800px; top: -800px;
	z-index: -99;
}

body, html {
	padding: 0; margin: 0;
	width: 100%; height: 100%;
}

body {
	font-family: 'Quicksand';
	font-size: 16px;
	text-shadow: 1px 1px 0px rgb(0, 0, 0);
	color: rgb(255,255,255);
	background-color: black;
}

video {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto;
	z-index: -2;
	background-size: cover;
	background-position: center; 
}

#title {
	font-size: 80px;
	margin-left: 12px;
}

#title img {
	margin-top: 18px;
}

#gamemode, #map {
	font-weight: bold;
}

#status-container {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 50%;
	text-align: center;
	margin-top: -25px;
	font-size: 20px;
	line-height: 18px;
}

#loading {
	display: inline-block;
	width: 80%;
	height: 4px;
	background-color: rgba(255,255,255,0.5);
}

#loading-progress {
	height: 100%; width: 0%;
	background-color: white;
}

#messages {
	display: none;
	margin-top: 20px;
	font-size: 18px;
}

#subtitle {
	margin-left: 38px;
}

#music {
	position: absolute;
	left: 0; bottom: 0;
	margin: 12px;
	display: none;
	line-height: 24px;
}

#music-name {
	position: relative;
	font-weight: bold;
	left: 14px;
	margin-top: 6px;
}

#overlay {
	position: fixed;
	left: 0px; top: 0px;
	width: 100%; height: 100%;
	z-index: -1;
	background-repeat: repeat;
}